__pycache__
*.pyc
*.egg-info
.idea
.vscode

build/
dist/


/data/private
/data/datasets/vision/imagenetv2c*
/data/datasets/vision/coco*
*.onnx
*.prototxt

/work_dirs/*

/dependencies

/tools/tidl_tools_package/bin/
/tools/tidl_tools_package/arm-*
/tools/tidl_tools_package/ti-cgt-*

