__pycache__
*.pyc
*.egg-info
.idea
.vscode

build/
dist/

/tools/tidl_tools_package/AM*
/tools/tidl_tools_package/TDA*
/tools/tidl_tools_package/gcc*
/tools/tidl_tools_package/arm*
/tools/tidl_tools_package_*
/tools/arm*

/data/private
/data/datasets/vision/imagenetv2c*
/data/datasets/vision/coco*
*.onnx
*.prototxt

/work_dirs/rtwrapper

/work_dirs/modelartifacts
/work_dirs/compile
/work_dirs/package
/work_dirs/extract
/work_dirs/optimize
/work_dirs/analyze
/work_dirs/analyze

/dependencies
