__pycache__
*.pyc
*.egg-info
.idea
.vscode

build/
dist/

/tools/tidl_tools_package/AM*
/tools/tidl_tools_package/TDA*
/tools/tidl_tools_package/gcc*
/tools/tidl_tools_backup/

/run/runner
/run/rtwrapper

/examples/vision/datasets/imagenet*
/examples/vision/datasets/coco*
/examples/vision/models/mobilenet_v2*
/examples/vision/models/ssd*
/examples/vision/models/*resnet*