cython
requests
tqdm
pillow
pycocotools
numpy==1.23.0
opencv-python
colorama
munkres
wurlitzer
pyyaml
onnxsim==0.4.35
git+https://github.com/TexasInstruments/edgeai-tidl-tools.git@11_00_08_00#subdirectory=osrt-model-tools
